@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');
body {
    background-color: #57F290;
    margin: 100px;
    font-family: 'Poppins';
}
.header {
   
    padding: 20px;
    text-align: center;
  }
  
  .column {
   float:inline-start;
    width: 50%;
    padding: 15px;
  } 
   .row:after {
        content: "";
        display: table;
        clear: both;
      }
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}
  
h3 {
    text-align: center;
}

p {
    text-align: center;
}
.container {
    float:none;
    margin-left:auto;
    margin-right: auto;
    width: 500px;
    height: 100px;
  
} 
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
